body{
 background-color: #eff1f5;
 font-family:'Montserrat';
 color: #293241;
}

p{
 text-align: center;
 font-size: 14;
}

button{
 border-radius: 5em;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 10px;
 padding-top: 10px;
 margin: auto;
 display: block;
 font-size: 15px;
 background-color: #f7c833;
 color: white;
}

button:hover{
 border-radius: 5em;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 10px;
 padding-top: 10px;
 margin: 0 auto;
 display: block;
 font-size: 15px;
 background-color: #997300;
 color: white;
}

button:active {
 border-radius: 9em;
 padding-left: 18px;
 padding-right: 18px;
 padding-bottom: 9px;
 padding-top: 5px;
 margin: 0 auto;
 display: block;
 font-size: 15px;
 background-color: #204060;
 color: white;
}

#login-window{
 padding-top: 10px;
 padding-bottom: 10px;
 background-color: white;
 border-radius: 20px;
 width: 400px;
 height: 250px;
 margin: auto;

 border-style:solid;
}
#login-title{
 font-weight: bold;
 font-size: 20;
}

.login-field{
 width: 76%;
 font-weight:500;
 font-size: 14px;
 background: whiteSmoke;
 padding: 10px 20px;
 border: none;
 border-radius: 20px;
 margin-bottom: 20px;
 margin-left: 46px;
 text-align: center;
}

#org-logo {
 width:100px; 
 padding: 20px;
 display: block;
 margin-top: 40px;
 margin-left: auto;
 margin-right: auto;
}

.header {
 top: 0;
 left: 0;
 position: fixed;
 width: 100%;
 background-color: #293241;
 height: 20px;
 color: white;
 padding: 10px;
 padding-left: 20px;
}
