
body{
 background-color:white;
 font-family:'Montserrat', sans-serif;
}

p {
 text-align: left;
}

button{
 border-radius: 5em;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 5px;
 padding-top: 5px;
 font-size: 14px;
 margin: 10px;
}

table {
 border-spacing: 10px 0;
}

th, td {
 border-bottom: 1px solid #ddd;
}
/* splits the screen*/
.split {
 height: 100%;
 width: 50%;
 position: fixed;
 padding-top: 40px;
 background-color: #eff1f5;

}

.right {
 right: 0;
}

.left {
 left: 0;
}

.centered {
 text-align: center;
}

.admin-header {
 background-color:#293241; //#3D5A80;
 color: white;
 margin: 10px; 
 margin-top: 0;
 padding: 10;
 border-radius: 0.5em;

}

.admin-window{
 background-color: white;
 margin: 20px;
 padding: 20px;
 border-color: #b1bbce;
 //border-style: solid;
 border-width: medium;
 border-radius: 1em;
}
.text-field {
 border-radius: 5em;
 padding: 5px;

}
.table-tittle {
 margin: 0;
 color: #3D5A80;
 font-weight: bold; 
}

.header {
 top: 0;
 left: 0;
 position: sticky;
 background-color: #293241;
 height: 20px;
 color: white;
 padding: 10;
}

#users-table {
 margin: 0 auto;
 border-spacing: 10px;
}
#batchs {
 margin: 0 auto;
 text-align: left;
}

#checkBoxLabel {
 font-size: 14px;
}
