body{
background-color:skyblue;
font-family:'Ubuntu', sans-serif;
}

p{
 text-align: center;
 font-size: 14;
}

button{
    border-radius: 5em;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-size: 15px;
    background-color: orange;
}
#login-window{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 100px;
}
#login-title{
    font-weight: bold;
    font-size: 20;
}
.login-field{
    width: 76%;
    font-weight:500;
    font-size: 14px;
    background: whiteSmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 46px;
    text-align: center;
}
