body {
 font-family:'Montserrat', sans-serif;
}

button {
 color: white;
 padding: 15px 20px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 font-weight: bold;
 letter-spacing: 1px;
 display: inline-block;
 cursor: pointer;
 border-radius: 16px;
 border: none;
 margin: 10px;
 font-family:'Montserrat', sans-serif;
}

#noButton {
 background-color: #ff794d;
}

#noButton:hover {
 background-color: #cc3300;
}

#yesButton {
 background-color: #79d2a6;
}

#yesButton:hover {
 background-color: #2d8659;
}

#greatButton {
 background-color: #f7c833;
}

#greatButton:hover {
 background-color: #997300;
}

#contentDisplay {
 display: flex;
 align-items: center;
 justify-content: space-around;
}
#buttonDisplay {
 display: flex;
 justify-content: center;
}

button:hover {
 border: none;
 color: white;
 padding: 20px 40px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 cursor: pointer;
 border-radius: 16px;
 margin: 10px;
}

#letter {
 font-family: 'Montserrat', sans-serif;
 font-size: 12;
 text-align: left;
 line-height: 30px;

 width: 400;
 height: 1000;
 border-radius: 0.5em;
 padding: 15px;
 margin:30px;
 margin-top:50px;

 overflow: auto;
 display : inline-block;
 background-color: #ffffff;
}

img {
 border: 1px  #b1bbce;
 border-radius: 0.5em;
 padding: 15px;
 margin: 10px;
 margin-top:50px;
 
 background-color: #ffff;
}

#container {
 background-color: #f2f2f2;
}
.header {
 top: 0;
 left: 0;
 position: fixed;
 width: 100%;
 background-color: #293241;
 height: 20px;
 color: white;
 padding: 10px;
 padding-left: 20px;
}