button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  margin: 10px;
}

#contentDisplay {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#buttonDisplay {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #bbb;
  border: none;
  color: black;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  margin: 10px;
}

#letter {
  font-family: verdana;
  font-size: 150%;
  width: 1000px;
  height: 650px;
  text-align: justify;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  overflow: auto;
  display : inline-block;
}

img {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;

}
